.header-logo{
    font-weight: 600;
    font-size: var(--font-1);
}

.header-logo a{
    text-decoration: none;
    color: var(--color-grey-1);
}

.section-title{
    font-weight: 600;
    font-size: var(--font-2);
    color: var(--color-grey-1);
}

.musical-style{
    font-weight: 500;
    font-size: var(--font-3);
}

.band-year{
    color: var(--color-grey-2);
    font-weight: 500;
    font-size: var(--font-3);
}

.value-buy h4{
    font-size: var(--font-3);
    color: var(--color-grey-1);
    font-weight: 600;
}

.filter-this-price{
    font-weight: 500;
    font-size: var(--font-2);
    color: var(--color-grey-2);
}